.s-webdoor {
  background: url('../../images/header_bg.png');
  background-position: top;
  background-size: cover;
  height: 670px;
  position: relative;
}

.s-webdoor__overlay {
  background-color: rgba(76,61,114, 0.5);
  width: 100%;
  height: 670px;
}

.s-webdoor__container {
  top: 400px;
  position: relative;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.s-webdoor__title {
  font-size: 32px;
  color: #ffffff;
  font-family: 'Playfair-Display-Black';
  position: absolute;
}

.s-webdoor__subtitle {
  font-size: 14px;
  color: #ffffff;
  position: absolute;
}

.s-webdoor__subtitle:before {
  content: "";
  height: 1px;
  width: 50px;
  display: block;
  position: relative;
  background-color: #00e0d0;
  bottom: 30px;
  text-align: center;
}

.s-webdoor__button {
  display: block;
  position: relative;
  height: 40px;
  width: 40px;
  border: 1px solid #00e0d0;
}
