.c-header {
  position: fixed;
  z-index: 2;
  margin: 0 auto;
  display: block;
  width: 100%
}

.c-header__container {
  width: 950px;
  margin: 0 auto;
}

.c-header__logo {
  z-index: 2;
  display: inline-block;
}

.c-header__logo-link {
  text-decoration: none;
}

.c-header__logo-img {
  height: 44px;
  display: inline;
}

.c-header__logo-text {
  color: #00e0d0;
  display: inline;
  font-family: 'Roboto';
  font-weight: 100;
  bottom: 10px;
  position: relative;
}
