.c-nav {
  display: inline-block;
  float: right;
  margin: 35px 0 0;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  z-index: 2;
}

.c-nav__menu {
  text-align: right;
  list-style: none;
  display: inline;
  padding-left: 0;
  color: #ffffff;
}

.c-nav__menu-item {
  display: inline;
  margin: 0 15px;
}

.c-nav__menu-item:first-child {
  margin: 0 5px 0 0;
}

.c-nav__menu-item:last-child {
  margin: 0 0 0 5px;
}

.c-nav__menu-link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  color: #ffffff;
}

.c-nav__menu-link--colored {
  color: #00e0d0;
}
