.s-expertise {
  min-height: 755px;
  height: 100%;
  position: relative;
  display: block;
}

.s-expertise__container {
  margin: 0 auto;
  height: 100%;
}

.s-expertise__title-container {
  /* min-width: 405px; */
  /* width: 100%; */
  /* min-height: 70px; */
  /* height: 100%; */
  margin: 70px auto;
  width: 100%;
  height: 100%;
}

.s-expertise__title {
  text-align: center;
}

.s-expertise__subtitle {
  text-align: center;  
  position: relative;
}

.s-expertise__subtitle:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  background-color: #c6c4c9;
  top: 40px;
  right: 50%;
  transform: translateX(50%);
}

.s-expertise__abilities-container {
  margin: 0 auto;
  text-align: center;
}

.s-expertise__abilities-box {
  /* width: 310px; */
  /* height: 250px; */
  max-width: 250px;
  max-width: 310px;
  width: 33%;
  height: auto;
  /* margin: 0 auto; */
}

.s-expertise__abilities-img {
  margin: 0 auto;
  padding-top: 30px;
  display: block;
}

.s-expertise__abilities-title {
  font-size: 14px;
  color: #413d4b;
  /* font-family: roboto-black; */
  text-transform: uppercase;
  text-align: center;
  margin: 35px auto 25px;
}

.s-expertise__abilities-text-wrapper {
  width: 255px;
  height: 100px;
  margin: 0 auto;
}

.s-expertise__abilities-text {
  text-align: center;
  /* font-family: robotolightregular; */
  font-size: 14px;
}

.s-expertise__abilities-box--first-item {
  display: inline-block;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  vertical-align: top;
}

.s-expertise__abilities-box--second-item {
  display: inline-block;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  vertical-align: top;
}

.s-expertise__abilities-box--third-item {
  display: inline-block;
  border-bottom: 1px solid #ebebeb;
  vertical-align: top;
}

.s-expertise__abilities-box--fourth-item {
  display: inline-block;
  border-right: 1px solid #ebebeb;
  vertical-align: top;
}

.s-expertise__abilities-box--fifth-item {
  display: inline-block;
  border-right: 1px solid #ebebeb;
  vertical-align: top;
}

.s-expertise__abilities-box--sixth-item {
  display: inline-block;
  vertical-align: top;
}

@media only screen and (min-width: 768px and max-width: 1023px) {
  .s-expertise__abilities-box {
    width: 49%;
  }
}

@media only screen and (max-width: 767px) {
  .s-expertise__abilities-box {
    width: 99%;
  }
}
