.s-story {
  min-height: 950px;
	width: 100%;
  height: 100px;
  position: relative;
}

.s-story__info-container {
	width: 100%;
  max-width: 950px;
	/* margin: 70px auto; */
  margin: 0 auto;
}

.s-story__logo-wrapper {
  width: 30%;
  max-width: 235px;
  margin: 0 100px 0 auto;
  padding: 70px 0;
  display: inline-block;
  text-align: center;
  position: relative;
}

.s-story__text-wrapper {
  display: inline-block;
  margin-left: 100px;
  vertical-align: top;
  width: 69%;
  max-width: 550px;
  margin: 70px 0;
}

/* .s-story__logo { */
/* } */

.s-story__full-text {
  /* font-family: roboto-light; */
  font-size: 14px;
  color: #413d4b;
  line-height: 22px;
  text-align: left;
}

.s-story__container-button {
  text-align: left;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  height: 80px;
}

.s-story__button {
  display: block;
}

.s-story__text-box {
  /* height: 400px; */
}

.s-story__video-box {
  background: url('../../images/story_bg.png');
  background-position: top;
  background-size: cover;
  text-align: center;
  height: 550px;
}

.s-story__video-wrapper{
  position: relative;
  margin: 0 auto;
  top: 202px;
}

.s-story__video-text {
  /*font-family: roboto-black; */
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 35px;
}

@media only screen and (max-width: 1023px) {
  .s-story__logo-wrapper {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }  

  .s-story__text-wrapper {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .s-story__title,
  .s-story__container-button {
    text-align: center;
  }

}

