.s-story {
	height: 400px;
	width: 100%;
}

.s-story__container {
	width: 950px;
	margin: 70px auto;
}

.s-story__text-container {
  display: inline-block;
  margin-left: 100px;
  width: 500px;
}

.s-story__logo {
  display: inline-block;
}

.s-story__text {
  // font-family: roboto-light;
  font-size: 14px;
  color: #413d4b;
  line-height: 22px;
}

