.s-story {
	height: 400px;
	width: 100%;
}

.s-story__container {
	width: 950px;
	margin: 70px auto;
}

.s-story__text-container {
  display: inline-block;
  margin-left: 100px;
}

.s-story__logo {
  display: inline-block;
}

.s-story__title {
}

