.s-team {
  height: 715px;
}

.s-team__title-container {
  width: 405px;
  height: 70px;
  margin: 70px auto 0;
}

.s-team__title {
  text-align: center;
}

.s-team__subtitle {
  text-align: center;
  position: relative;
}
