.s-team {
  height: 100%;
  min-height: 715px;
  background: url('../../images/team_bg.png');
  background-position: top;
  background-size: cover;
  text-align: center;
}

.s-team__title-container {
  max-width: 405px;
  height: 70px;
  margin: 0 auto;
  padding: 70px 0 0;
}

.s-team__title {
  text-align: center;
  color: #ffffff;
}

.s-team__subtitle {
  text-align: center;
  position: relative;
  color: #ffffff;
}

.s-team__subtitle:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  background-color: #c6c4c9;
  top: 40px;
  right: 50%;
  transform: translateX(50%);
}

.s-team__photo-box-container {
  margin: 145px auto 0;
}

.s-team__photo-box {
  height: 310px;
  width: 220px;
  border: 1px solid #7f7a92;
  line-height: 10px;
  display: inline-block;
  margin-right: 20px;
}

.s-team__phot-box:nth-last-child {
  margin-right: 0
}

.s-team__team-photo {
  width: 218px;
  height: 220px;
}

.s-team__team-name {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
}

.s-team__team-position {
  color: #ffffff;
  text-transform: uppercase;
}

.s-team__hire-wrapper {
  margin-top: 70px;
  height: 140px;
}

.s-team__hire-text {
  color: #ffffff;
  /* font-family: roboto light */
}

.s-team__hire-button {
  width: 140px;
  height: 40px;
  /* font-family: hammersmith one */ 
  position: absolute; 
  display: block;
}

@media only screen and (max-width: 1023px) {
  .s-team {
    min-height: 900px;
  }
}
