.s-works {
  height: 100%;
  min-height: 740px;
  width: 100%;
}

.s-works__title-container {
  width: 940px;
  min-height: 110px;
  margin: 70px auto 0;
}

.s-works__title {
  text-transform: uppercase;
 /* font-family: playfairdisplay bold */ 
  font-size: 22px;
  display: inline-block;
  color: #413d4b;
  margin: 0;
}

.s-works__works-links {
  color: #413d4b;
  display: inline-block;
  float: right;
  /* font-family: roboto light; */
  text-decoration: none;
}

.s-works__works-links--arrow-right {
  font-size: 30px;
}

.s-works__works-container {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.s-works__works-box {
  min-width: 267px;
  height: 200px;
  min-height: 200px;
  display: inline-block;
}

.s-works__works-box--first {
  background-color: #b6b6b6;
}

.s-works__works-box--first {
  background-color: #b6b6b6;
}

.s-works__works-box--second {
  background-color: #acacac;
}

.s-works__works-box--third {
  background-color: #a1a1a1;
}

.s-works__works-box--fourth {
  background-color: #8a8a8a;
}

.s-works__works-box--fifth {
  background-color: #b6b6b6;
}

.s-works__works-box--sixth {
  background-color: #a4a4a4;
}

.s-works__works-box--seventh {
  background-color: #a4a4a4;
}

.s-works__works-box--eighth {
  background-color: #b6b6b6;
}

.s-works__works-box--ninth {
  background-color: #8a8a8a;
}

.s-works__works-box--tenth {
  background-color: #a1a1a1;
}

.s-works__works-box--eleventh {
  background-color: #acacac;
}

.s-works__works-box--twelfth {
  background-color: #b6b6b6;
}

.s-works__button-wrapper {
  margin: 70px auto;
  position: relative;
  height: 70px;
}

.s-works__button {
  display: block;
  position: absolute;
}

@media only screen and (max-width: 1023px) {
  .s-works__title-container {
    width: 100%;
    padding: 0 20px;
  }
}
