.o-hamburguer {
  display: none;
  background: transparent;
}

.o-hamburguer__line {
  width: 30px;
  height: 3px;
  border-radius: 30px;
  background: #000000;
  display: block;
  margin-bottom: 2px;
}

@media only screen and (max-width: 1023px) {
  .o-hamburguer {
    display: block;
  }
}
