<header class="s-header" id="menu">
  <div class="s-header__container">
    <h1 class="s-header__logo">
      <a class="s-header__logo-link" href="#">tajam</a>
    </h1>
    <nav class="c-nav">
      <ul class="c-nav__menu">
        <li class="c-nav__menu-item"><a class="c-nav__menu-link c-nav__menu-link--colored" href="#home">Home</a></li>
        <li class="c-nav__menu-item"><a class="c-nav__menu-link" href="#about">About</a></li>
        <li class="c-nav__menu-item"><a class="c-nav__menu-link" href="#expertise">Expertise</a></li>
        <li class="c-nav__menu-item"><a class="c-nav__menu-link" href="#teams">Teams</a></li>
        <li class="c-nav__menu-item"><a class="c-nav__menu-link" href="#works">Works</a></li>
        <li class="c-nav__menu-item"><a class="c-nav__menu-link" href="#people-say">People Say</a></li>
        <li class="c-nav__menu-item"><a class="c-nav__menu-link" href="#contact">Contact</a></li>
      </ul>
      <button class="o-hamburguer">
        <span class="c-nav__open-menu"></span>
      </button>
    </nav>
  </div>
</header>

