<section class="s-webdoor">
  <div class="c-overlay">
    <div class="s-webdoor__container">
      <div class="s-webdoor__info-container main-carousel" data-flickity='{"WatchCSS": true}'>
        <div class="s-webdoor__info carousel-cell">
          <h2 class="s-webdoor__title">
            We Are Awesome Creative Agency
          </h2>
          <p class="s-webdoor__subtitle">
          This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
          </p>
          <a class="o-button s-webdoor__button">
            <span>Learn More</span>
          </a>
        </div>
        <!-- <div class="s-webdoor__info carousel-cell"> -->
        <!--   <h2 class="s-webdoor__title"> -->
        <!--     We Are Awesome Creative Webagency -->
        <!--   </h2> -->
        <!--   <p class="s-webdoor__subtitle"> -->
        <!--   This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. -->
        <!--   </p> -->
        <!--   <a class="o-button s-webdoor__button"> -->
        <!--     <span>Learn More</span> -->
        <!--   </a> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</section>
