// Defaults
$color-white: #fff;
$color-black: #000;

$color-robins-egg-blue: #00e0d0;
$color-ship-gray: #413d4b;
$color-baltic-sea: #2f2d35;
$color-alabaster: #f9f9f9;
$color-concrete: #f3f3f3;
$color-port-gore: #29234b;


// Theme colors - http://chir.ag/projects/name-that-color/
