@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap');

$font-weight-thin: 100;
$font-weight-regular: 400;
$font-weight-bold: 600;
$font-weight-black: 900;

$font-family-main: 'Playfair-Display';
$font-family-secondary: 'Roboto';
$font-family-terciary: 'Hammersmith-One';

