<!DOCTYPE html>
<html class="no-js" lang="pt-br">
  <head>
      <meta charset="utf-8">
      <title>Tajam Training</title>
      <meta name="description" content="Tajam Training">
      <meta name="author" content="Marcel Garcia França">
      <meta name="viewport" content"width=device-width, initial-scale=1">
      {% include '../config/icons.html' %}
      {# {% include 'config/ga.html' %} #}
  </head>
  <body>
    {% include '../partials/header.html' %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
    {% include '../partials/footer.html' %}
  </body>
</html>
